
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #bc4f36;
    background: linear-gradient(
    rgba(0,0,0,0.65),rgba(44, 32, 32, 0.38) 
    ) no-repeat
    ,url('/fondopizza.png')no-repeat;
    background-size: cover;
}
.menuup{
    width: 880px;
    float: right;
}
.menuup ul li{
    width: 210px;
    float: left;
    margin: 10px auto;
    text-align: center;
    font-size: 24px;
    border-radius: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.menuup ul li a{
    text-decoration: none;
    color:#bc4f36;
}
.menuup ul li:hover {
    background-color: tomato;
}
.logo{
    width: 476px;
    height: 800px;
    background-color: black;
    opacity: 0.8;
    padding: 55px;
}
.imglogo{
    height: 150px;
    width: 230px;
    margin: 50px 127px; 
}
.logo h4{
    text-align: center;
    color: #bc4f36;
    font-weight: normal;
    margin: 60px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.btn form , input[type="button"]{
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: 300;
    font-size: 23px;
    color: #bc4f36;
    background: transparent;
    border-radius: 15px;
    border: 2px solid #bc4f36;
    display: block;
    margin: 120px auto 50px auto; 
}
.btn, input[type="button"]:hover{
    background-color: tomato;
    color: white;
}




    
   